# Python Einführung
## Unterüberschrift

*kursiv* **fett**
- Punkt 1
- Punkt 2
- Punkt 3

1.1 Erste Anweisung

In [1]:
print ("Hello world!")

Hello world!

1.2 Kommentare

In [2]:
# Das ist ein Kommentar
print("something")

something

1.3 Einfache Datentypen

In [3]:
# Variable und Wertezuweisung
name = "Lovelace"
print(name)

Lovelace

In [4]:
# String - Zeichenkette
first_name = "Ada"
first_name

'Ada'

In [5]:
# Integer - Ganzzahl
age = 73
print (age)

73

In [6]:
# Float - Gleitkommazahl
size = 1.7123

In [7]:
knows_math = True
print (knows_math)

True

In [8]:
likes_slacking = False
print(likes_slacking)

False

In [9]:
type(name)

str

In [10]:
type(age)

int

In [11]:
type(size)

float

In [12]:
age_string = str(age)

In [13]:
type(age_string)

str

1.4 Operatoren

In [14]:
# Addition von Integers
5 + 5

10

In [15]:
# Multiplikation
age * 100

7300

In [16]:
name + name

'LovelaceLovelace'

In [17]:
name * 7

'LovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelace'

In [18]:
name +10

TypeError: can only concatenate str (not "int") to str

In [23]:
name + "10"

'Lovelace10'

In [24]:
# Division
size/age

0.023456164383561642

1.5 Funktionen und Methoden

In [25]:
print(name)
len(name)

Lovelace

8

In [26]:
name.upper()

'LOVELACE'

In [27]:
print(name)

Lovelace

In [28]:
name_upper_case = name.upper()

In [29]:
name.count("e")

2

In [30]:
name.replace("lace", " is everything")

'Love is everything'

In [31]:
print(name_upper_case)

LOVELACE

In [32]:
another_name = name.replace("lace", " is everything")
print(another_name)

Love is everything

1.6 Listen und Dicionaries

In [33]:
# Liste
names = ["Lovelace", "Darwin", "Curie", "Hawking"]

In [34]:
names[2]

'Curie'

In [35]:
names[0]

'Lovelace'

In [36]:
names[-1]

'Hawking'

In [37]:
names[0:3]

['Lovelace', 'Darwin', 'Curie']

In [38]:
names[0:4]

['Lovelace', 'Darwin', 'Curie', 'Hawking']

In [39]:
# slicing
names[:2]

['Lovelace', 'Darwin']

In [40]:
names[2:]

['Curie', 'Hawking']

In [22]:
# Dicitonaries
authors_and_birth_years = {"Lovelace": 1882,
                           "Darwin": 1815,
                           "Noether": 1882,
                          "Hawking": 1942}

2 for-Schleifen

In [43]:
for last_name in names: 
    print(last_name + " did awesome stuff.")
    print("-----------")

Lovelace did awesome stuff.
-----------
Darwin did awesome stuff.
-----------
Curie did awesome stuff.
-----------
Hawking did awesome stuff.
-----------

In [56]:
for values in authors_and_birth_years.values():
    print(values)

1882
1815
1882
1942

In [46]:
authors_and_birth_years.keys()

dict_keys(['Lovelace', 'Darwin', 'Noether', 'Hawking'])

In [53]:
for authors in authors_and_birth_years:
    print(authors)

Lovelace
Darwin
Noether
Hawking

In [54]:
for key, value in authors_and_birth_years.items():
    print(key, value)

Lovelace 1882
Darwin 1815
Noether 1882
Hawking 1942

In [64]:
temp = 20
if temp >15:
    print("It's warm")

It's warm

In [59]:
20 > 15

True

In [65]:
temp = 13
if temp >15:
    print("It's warm")
else: print ("It's cold")

It's cold

In [68]:
temp = 26
if temp > 25:
    print("It's hot")
elif temp > 15:
    print ("It's warm")
else: print ("It's cold")

It's hot